/*navigation bar*/
.top-navigation {
    overflow: hidden;
    margin: auto;
}
.top-navigation a {
    float: left;
    display: flex;
    flex-direction: row;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top-navigation a:hover {
    color: black;
}
#contact-link{
    float: right;
}
#contact-link:link, #contact-link:visited {
    border: 2px solid grey;
    padding: 12px 14px;
    text-decoration: none;
    display: inline-block;
}
#contact-link:hover, #contact-link:active {
    color: white;
    background-color: grey;
    border: 2px solid white;
}
#self-image {
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}
/* Set full-width class for the first div */
.full-width {
    width: 100%;
}
.full-width > img{
    max-width: 100%; /* Set max-width to ensure responsiveness */
    height: auto; /* Maintain aspect ratio */
}

/* Set width for the images in the flex container */
.flex-container > div > a > img {
    max-width: 100%; /* Set max-width to ensure responsiveness */
    height: auto; /* Maintain aspect ratio */
}

/* Set flex-container to flexbox and wrap items */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
}

/* Set width for the divs within flex-container */
.flex-container > div {
    width: 100%; /* Initially set to 100% for all divs */
    box-sizing: border-box;
    padding: 0 10px; /* Add padding for spacing */
}

/* Adjust width for divs on larger screens */
@media screen and (min-width: 768px) {
    .flex-container > div {
        width: 50%; /* Set to 50% for divs on larger screens */
    }
}
