@media screen and (min-width: 320px) and (max-width: 480px){
    /* mobile devices */
}
@media screen and (min-width: 481px) and (max-width: 768px){
    /* small ipads and small android tablets */
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    /* laptops and and small screens */
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
    /* large screens and desktops */
}
@media screen and (min-width: 1201px) and (orientation: landscape){
    /* large LCD screens and beyond */
}

/*navigation bar*/
.top-navigation {
    overflow: hidden;
    margin: auto;
}
.top-navigation a {
    float: left;
    display: flex;
    flex-direction: row;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top-navigation a:hover {
    color: black;
}
#contact-link{
    float: right;
}
#contact-link:link, #contact-link:visited {
    border: 2px solid grey;
    padding: 12px 14px;
    text-decoration: none;
    display: inline-block;
}
#contact-link:hover, #contact-link:active {
    color: white;
    background-color: grey;
    border: 2px solid white;
  }